body {
    font-family: 'Tahoma';
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #142d4c;
}

.container {
    width: 1150px;
    min-height: 600px;
    background: #ececec;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.col-1 {
    width: 20%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-2 {
    width: 80%;
    padding: 5px;
}

.menu-link {
    width: 120px;
    height: 30px;
    background-color: #142d4c;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}

.menu-link:hover {
    background-color: #1d416d;
}