body {
    font-family: 'Tahoma';
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #142d4c;
}

.container {
    width: 1150px;
    min-height: 600px;
    background-color: #ececec;
    border-radius: 2px;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.col-1 {
    width: 20%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-2 {
    width: 80%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.menu-link {
    width: 120px;
    height: 30px;
    background-color: #142d4c;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
}

.menu-link:hover {
    background-color: #1d416d;
}

.active-menu-link {
    width: 120px;
    height: 30px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    border-radius: 3px;
    transition: 0.2s ease-in-out;
    background-color: #1d416d;
}

.active-menu-link:hover {
    background-color: #142d4c;
}

.site-title {
    font-size: 2em;
    font-family:Arial, Helvetica, sans-serif;
}

.breadcrumb {
    width: 200px;
    height: 30px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
}

.breadcrumb-link {
    margin-left: 5px;
    margin-right: 5px;
}

.breadcrumb-link > a {
    text-decoration: none;
    color: #000000;
}

.breadcrumb-active-page {
    color: #6d6d6d;
}

.search-holder {
    width: 100%;
    height: 50px;
}

.searchbox-add-button {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.searchbox {
    height: 25px;
    width: 700px;
}

.add-book-btn {
    height: 25px;
    color: #ffffff;
    text-decoration: none;
    background-color: #142d4c;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 7px;
    margin-left: 5px;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}

.add-book-btn:hover {
    background-color: #1d416d;
}

.add-book-form-holder {
    width: 95%;
    min-height: 100px;
    margin-top: 20px;
}

.book-description {
    width: 600px;
    min-height: 100px;
    margin-top: 10px;
}

.book-label {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-book-form-holder > input[type="text"] {
    width: 300px;
}

.add-book-form-holder > button {
    height: 35px;
}

.login-holder {
    width: 400px;
    height: 350px;
    background-color: #ececec;
    border-radius: 3px;
}

.login-title {
    width: 98%;
    min-height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1.7rem;
    text-align: center;
    border-bottom: thin solid #d6d6d6;
}

.login-form {
    width: 98%;
    min-height: 50px;
    margin: 0 auto;
    margin-top: 10px;
}

.login-section-holder {
    width: 100%;
    height: 70px;
}

.login-section-holder > label {
    display: block;
    margin-bottom: 10px;
}

.login-section-holder > input[type="text"], input[type="password"] {
    width: 97%;
    height: 25px;
    border-radius: 3px;
    border: thin solid #d6d6d6;
}

.login-btn {
    height: 32px;
    color: #ffffff;
    text-decoration: none;
    background-color: #142d4c;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 7px;
    margin-left: 5px;
    border-radius: 2px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}

.login-btn:hover {
    background-color: #1d416d;
    color: #ffffff;
}